---
import Layout from "@layouts/Layout.astro";
import SettingsTabs from "./_SettingsTabs.astro";
const origin = Astro.url.origin;
---

<Layout title="Settings">
  <div class="flex flex-col gap-4">
    <h4 class="text-4xl font-semibold text-center">Settings</h4>
    <SettingsTabs />
    <div class="w-full h-full flex flex-col gap-2">
      <div class="divider"></div>
      <div class="flex flex-col gap-4">
        <h3 class="font-semibold text-3xl">Theme</h3>
        <button
          onclick="window.location.replace(`${origin}/logout`)"
          class="btn btn-square btn-success btn-wide text-success-content px-2"
          >Switch to lightmode</button
        >
      </div>
      <div class="divider"></div>
    </div>
  </div>
</Layout>
