---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Page not found">
  <div class="w-full h-full text-center">
    <h1 class="text-8xl">404</h1>
    <p class="text-xl">Page not found</p>
  </div>
</Layout>
