---
import CreateForm from "@components/react-components/CreateForm";
import LoginLayout from "@layouts/Login.astro";
---

<LoginLayout title="Create Account">
  <div class="w-11/12 h-full">
    <div class="w-full h-full">
      <CreateForm client:load />
    </div>
  </div>
</LoginLayout>
