---
import Layout from "../layouts/Layout.astro";
import fetchJson from "@utils/fetchJson";
import TestFeed from "@components/react-components/TestFeed";
import PostForm from "@components/react-components/PostForm";
import { getCurrentUser } from "~/server/misc";
const origin = Astro.url.origin;

const { user } = await getCurrentUser(Astro.request);
if (!user) {
  return Astro.redirect(`/login`);
}

const result = await fetchJson(`${origin}/api/posts/page?page=0`);
---

<Layout title="Home">
  <TestFeed initialFeed={result} currentUser={user.username} client:load />
  <div class="toast toast-end toast-bottom mb-16 min-[900px]:mb-0 z-40">
    <PostForm client:visible />
  </div>

  <div class="h-32"></div>
</Layout>
