---
import Layout from "../layouts/Layout.astro";
import PostForm from "@components/PostForm";
import PostFeed from "@components/PostFeed";
import Login from "@components/Login";
---

<Layout title="Balls">
  <main>
    <!-- <PostForm client:load /> -->
    <PostFeed client:load />
    <Login client:load />
  </main>
</Layout>

<style></style>
