---
import LoginForm from "@components/LoginForm";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Log in">
  <main class="w-full h-full">
    <div class="w-1/3 h-full">
      <LoginForm client:load />
    </div>
  </main>
</Layout>
