---
import LoginForm from "@components/react-components/LoginForm";
import LoginLayout from "@layouts/Login.astro";
---

<LoginLayout title="Log in">
  <div class="w-11/12 h-full">
    <div class="w-full h-full">
      <LoginForm client:load />
    </div>
  </div>
</LoginLayout>
