---
import BottomNav from "./BottomNav";

import { GET } from "~/pages/api/loggedinuser";

const response = await GET(Astro);
if (!(response instanceof Response)) return Astro.redirect("/404");
const { username, role } = await response.json();

const path = Astro.url.pathname;
---

<div class="w-full h-full">
  <BottomNav path={path} user={username} client:only="preact" />
</div>
