---
import type { userRole } from "@utils/types";
import Home from "~/components/react-components/icons/Home";
import Search from "~/components/react-components/icons/Search";
import UserIcon from "~/components/react-components/icons/UserIcon";

interface Props {
  username: string;
  role: userRole;
}

const { username } = Astro.props;
const path = Astro.url.pathname;
---

<div class="w-full btm-nav z-300">
  <a href="/" class={path === "/" ? "active" : ""} data-astro-prefetch>
    <Home />
  </a>
  <a
    href="/search"
    class={path === "/search" ? "active" : ""}
    data-astro-prefetch
  >
    <Search />
  </a>
  <a
    href={`/user/${username}`}
    class={path.includes(`/user/${username}`) ? "active" : ""}
    data-astro-prefetch
  >
    <UserIcon height={24} width={24} />
  </a>
</div>
