---
import BottomNav from "@components/astro-components/BottomNav.astro";
import Navbar from "@components/astro-components/Navbar.astro";
import SideMenuWrapper from "@components/astro-components/SideMenuWrapper.astro";
import HideOnMobile from "@components/blocks/HideOnMobile";
import ShowOnMobile from "@components/blocks/ShowonMobile";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="w-screen h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="fixed w-full h-full bg-base-300">
    <Navbar transition:persist />
    <main class="relative z-10 flex flex-row h-full">
      <div
        class="z-40 flex-grow w-full h-full pt-4 ml-2 mr-2 overflow-y-auto lg:mr-0 overflow-x-clip no-scrollbars"
      >
        <slot />
      </div>
      <HideOnMobile client:only="preact" transition:name="side-menu">
        <div class="divider-horizontal bg-base-200 overflow-y-clip"></div>
        <div class="flex-grow-0 h-full px-2 w-fit">
          <SideMenuWrapper />
        </div>
      </HideOnMobile>
    </main>
    <ShowOnMobile client:only="preact" transition:name="btm">
      <footer class="relative z-50">
        <BottomNav />
      </footer>
    </ShowOnMobile>

    <style is:global>
      .no-scrollbars {
        overflow: auto;
        scrollbar-width: none;
      }

      .no-scrollbars::-webkit-scrollbar {
        display: none;
      }
    </style>
  </body>
</html>
